<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.odstest9">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ODSTest9">
        <activity
            android:name=".PhotoListActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityRulesTest"
            android:exported="false"></activity>
        <activity
            android:name=".GoogleSigninActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".Auth3Activity"
            android:exported="false" />
        <activity
            android:name=".Auth2Activity"
            android:exported="false" />
        <activity
            android:name=".AddingActivity"
            android:exported="false" />
        <activity
            android:name=".ReadDataActivity"
            android:exported="false" />
        <activity
            android:name=".DataTypesActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SetDocActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".StorageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>